# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Spark/Hadoop
spark-warehouse/
metastore_db/
derby.log
bin/winutils.exe

# Local Data
data/
data/tmp/
data/checkpoints/
data/bronze/
data/silver/
data/gold/

# OS
.DS_Store
Thumbs.db
